html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: #7092ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  width: 80%;
  padding: 16px;
  max-width: 700px;
  border-radius: 16px;
}

h1,
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

h2 {
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: #3363ff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
